name: DKV CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  dkv_server_job:
    runs-on: ubuntu-latest
    name: Build Docker Server & Run Tests
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepopulate Docker file
        run:  |
          cat Dockerfile > ./.github/workflows/Dockerfile
          cat ./.github/workflows/_Dockerfile >> ./.github/workflows/Dockerfile
          cat ./.github/workflows/Dockerfile
          echo "COPY . /code" >> Dockerfile
      # This is the a separate action that sets up buildx runner
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host
      # So now you can use Actions' own caching!
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build Docker Container
        uses: docker/build-push-action@v2
        with:
          # using "load: true" forces the docker driver
          # not necessary here, because we set it before
          #load: true
          push: true
          tags: localhost:5000/${{ github.repository_owner }}/dkv:latest
          context: .
          file: ./.github/workflows/Dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
       - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  dkv_java_client_job:
    runs-on: ubuntu-latest
    name: Build Java Client
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: |
          cd clients/java/dkv-client
          mvn clean install